<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Welcome Home</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
  <h1>You Have Logged In</h1>
  <!--    <h3><a th:href="/@{/users}">List of Users</a></h3>-->
  <!--    <h3><a th:href="/@{/register}">Register</a></h3>-->
  <h1>Enter Temperature Data</h1>

  <form th:action="@{/temperature}" style="max-width: 600px; margin: 0 auto;" method="post" th:object="${temperatureData}">


    <div class="m-3">
      <div class="form-group row">
        <label class="col-form-label col-4">Temperature:</label>
        <div class="col-8">
          <input th:field="${temperatureData.temperature}" class="form-control" type="number"  required>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
  <h3><a th:href="@{/analytics}">Analytics</a></h3>
</div>

</body>
</html>